<table>
    <tr>
        <th>CPUs</th>
        <th>{{datos.cpus}}</th>
    </tr>
    <tr>
        <th>Argumentos de entrada</th>
        <th>{{datos.argsEnt}}</th>
    </tr>
    <tr>
        <th>Nombre de la plataforma(sistema operativo)</th>
        <th>{{datos.nomPlat}}</th>
    </tr>
    <tr>
        <th>Versión de Node.js</th>
        <th>{{datos.verNode}}</th>
    </tr>
    <tr>
        <th>Memoria total reservada (rss)</th>
        <th>{{datos.memToRev}}</th>
    </tr>
    <tr>
        <th>Path de ejecucción</th>
        <th>{{datos.pathExe}}</th>
    </tr>
    <tr>
        <th>Process Id</th>
        <th>{{datos.procId}}</th>
    </tr>
    <tr>
        <th>Carpeta del proyecto</th>
        <th>{{datos.carProy}}</th>
    </tr>
</table>